<body id="form">
  <header>
    <nav id="nav-bar">
      <a href="/"> ← Go back</a>
    </nav>
  </header>
  <h1>Sign Up</h1>
  <section id="menu-container">
    <form method="POST" action="/auth/signup">
      <label>Choose a username:</label>
      <input type="text" name="username" placeholder="John Doe" required="true" />
      <label>E-mail</label>
      <input type="email" name="email" placeholder="john@hotmail.com" required="true"/>
      <label>Password</label>
      <input type="password" name="password" placeholder="*********" required="true"/>
      <label>SlackId</label>
      <input type="text" name="slackID" placeholder="johndoe1"/>
      <label>GoogleId</label>
      <input type="text" name="googleID" placeholder="johndoe1"/>
      <button type="submit">Register</button>
      <a id="form" href="/auth/login">Already have an account? Log in!</a>
      {{#if error}}
        <p style="color: red">{{error}}</p>
      {{/if}}
    </form>
  </section>
</body>
