<body id="form">
  <h1>Hello {{#if user}}{{username}}{{user.username}}{{userInDB.username}}{{/if}}</h1>
  <section id="menu-container">
    <a id="form" href="auth/signup">Signup</a>
    <a id="form" href="auth/login">Login</a>
    <a id="form" href="profile">My Profile</a>
    <a id="form" href="rooms">See Rooms</a>
  </section>
</body>