<body id="home-bg">
  <h1>{{appTitle}}</h1>
  <section id="menu-container">
    <h1>Rooms with Reviews</h1>
      <a id="home-button" href="auth/signup">Signup</a>
      <a id="home-button" href="auth/login">Login</a>
  </section>
</body>