<body id="form">
  <header>
    <nav id="nav-bar">
      <a href="/"> â† Go back {{user.username}}</a>
    </nav>
  </header>
<section id="menu-container">
    <a id="form" href="/rooms/new">Add New Room</a>
</section>  
<div>
  {{#each rooms}}
    {{>roomPartial this}}
  {{/each}}
</div>
</body> 